<?xml version="1.0" encoding="utf-8"  ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <restClients>
    <services>
      <service name="covid" rootUri="http://localhost:59227/" certificate="MyCertificate">
        <authentication type="DefaultUser" />
      </service>
      <service name="covid2" rootUri="http://localhost:59227/" certificate="MyCertificate">
        <authentication type="Certificate" certificateSubjectName="CertificateSubjectName" />
      </service>
    </services>
  </restClients>
</configuration>