<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="queueConfiguration" type="Covid.Rabbit.Configuration.QueueConfiguration, Covid.Rabbit" />
    <section name="restClients" type="Covid.Common.HttpClientHelper.Configuration.ServiceConfiguration, Covid.Common.HttpClientHelper" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <queueConfiguration hostname="localhost" username="admin" password="admin" uri="amqp://localhost:5672" port="5672" certificatePath="CertificatePath" automaticRecoveryEnabled="true" maxPrefetchSize="8" networkRecoveryIntervalSeconds="10" continuationTimeoutSeconds="10" handshakeContinuationTimeoutSeconds="10" requestedConnectionTimeoutSeconds="10" requestedHeartbeatSeconds="10">
    <consumers>
      <add name="NewUserQueueConsumer1" queue="Queue1" routingKey="RoutingKey1" exchange="Exchange1" />
      <add name="NewUserQueueConsumer2" queue="Queue2" routingKey="RoutingKey2" exchange="Exchange2" />
    </consumers>
    <publishers>
      <add name="NewUserQueuePublisher1" queue="Queue1" routingKey="RoutingKey1" exchange="Exchange1" />
      <add name="NewUserQueuePublisher2" queue="Queue2" routingKey="RoutingKey2" exchange="Exchange2" />  
    </publishers>
  </queueConfiguration>

  <restClients>
    <services>
      <service name="covid" rootUri="http://localhost:59227/" certificate="MyCertificate">
        <authentication type="DefaultUser" />
      </service>
      <service name="covid2" rootUri="http://localhost:59227/" certificate="MyCertificate">
        <authentication type="Certificate" certificateSubjectName="CertificateSubjectName" />
      </service>
    </services>
  </restClients>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>