<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="queueWrapper" type="RabbitMQWrapper.Configuration.QueueWrapperConfiguration, RabbitMQWrapper"/>
  </configSections>

  <queueWrapper uri="amqps://localhost:12456/" clientCertificateSubjectName="dummycertificate" messagePrefetchCount="13">
    <consumers>
      <add name="consumer1" queueName="rabbit_q"/>
      <add name="consumer2" exchangeName="rabbit_ex2" routingKey="rabbit_routing2"/>
    </consumers>
    <publishers>
      <add name="publisher1" exchangeName="rabbit_ex1" routingKey="rabbit_routing1"/>
      <add name="publisher2" exchangeName="rabbit_ex2" routingKey="rabbit_routing2" publishesPersistentMessages="false"/>
    </publishers>
  </queueWrapper>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
