<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="queueConfiguration" type="Covid.Rabbit.Configuration.QueueConfiguration, Covid.Rabbit" />
    <section name="restClients" type="Covid.Common.HttpClientHelper.Configuration.ServiceConfiguration, Covid.Common.HttpClientHelper" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Covid.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Covid.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CovidApiContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=CovidDb; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <queueConfiguration hostname="localhost" username="admin" password="admin" uri="amqp://localhost:5672" port="5672" certificatePath="CertificatePath" automaticRecoveryEnabled="true" maxPrefetchSize="8" networkRecoveryIntervalSeconds="10" continuationTimeoutSeconds="10" handshakeContinuationTimeoutSeconds="10" requestedConnectionTimeoutSeconds="10" requestedHeartbeatSeconds="10">
    <consumers>
      <add name="NewUserQueueConsumer1" queue="Queue1" routingKey="RoutingKey1" exchange="Exchange1" />
      <add name="NewUserQueueConsumer2" queue="Queue2" routingKey="RoutingKey2" exchange="Exchange2" />
    </consumers>
    <publishers>
      <add name="NewUserQueuePublisher1" queue="Queue1" routingKey="RoutingKey1" exchange="Exchange1" />
      <add name="NewUserQueuePublisher2" queue="Queue2" routingKey="RoutingKey2" exchange="Exchange2" />
    </publishers>
  </queueConfiguration>

  <restClients>
    <services>
      <service name="covid" rootUri="http://localhost:59227/" certificate="MyCertificate">
        <authentication type="DefaultUser" />
      </service>
      <service name="covid2" rootUri="http://localhost:59227/" certificate="MyCertificate">
        <authentication type="Certificate" certificateSubjectName="CertificateSubjectName" />
      </service>
    </services>
  </restClients>
  
  
  <appSettings>
    <add key="AppSetting1" value="AppValue1" />    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Covid.Common.Properties.Settings>
      <setting name="CommonSetting1" serializeAs="String">
        <value>CommonValue1</value>
      </setting>
      <setting name="CommonSetting2" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CommonSetting3" serializeAs="String">
        <value>True</value>
      </setting>
    </Covid.Common.Properties.Settings>
    <Covid.Api.Properties.Settings>
      <setting name="Setting1" serializeAs="String">
        <value>Value1</value>
      </setting>
      <setting name="Setting2" serializeAs="String">
        <value>Value2</value>
      </setting>
      <setting name="Setting3" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Val1</string>
            <string>Val2</string>
          </ArrayOfString>
        </value>
      </setting>
    </Covid.Api.Properties.Settings>
  </applicationSettings>
</configuration>